train:
  _target_: src.datasets.IDDataset
  data_json_pth: filtered_ids3_bg_texts.json
  instance_transforms: ${transforms.instance_transforms.train}

val:
  _target_: src.datasets.IDValDataset
  data_json_pth: filtered_ids3_bg_texts.json

ood_val:
  _target_: src.datasets.OODValDataset
  data_json_pth: val_ids.json

in_train_val:
  _target_: src.datasets.InTrainValDataset
  data_json_pth: val_ids.json

out_of_train_val:
  _target_: src.datasets.OutTrainValDataset
  data_json_pth: val_ids.json
